.mainbox
  .mainbox__header
    .group__content
      %h2.group__content__name test
      %p.group__content__member  Member
    .group__new
      = link_to "#", class: "group__new__btn" do
        Edit
  .mainbox__content
    .mainbox__content__box
  .mainbox__form
    .mainbox__form__box